.header{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.header img{
    position: relative;
    width: 100%;
}
.header span{
    position: absolute;
    color: #f9f9f9;
}

/* MEDIA PAGE */
@media screen and (max-width: 600px){
    .header{
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
    }
    .header img{
        position: relative;
        width: 100%;
    }
    .header span{
        position: absolute;
        color: #f9f9f9;
        font-size: 25px;
        text-align: center;
    } 
}

