.research{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: sans-serif;
}
/* HEADER CONTENT */
.header{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.header img{
    position: relative;
    width: 100%;
}
.header span{
    position: absolute;
    color: #f9f9f9;
}
/* hEADER CONTENT */

.research_content{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.researches{
    height: 400px;
    width: 100%;
    margin-top: 50px;
    border-bottom: 3px double #0006;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.main_img{
    flex: 1;
    width: 100%;
}
.main_img img{
    height: 300px;
    width: 80%;
}
.main_text{
    flex: 1;
    text-align: left;
    object-fit: contain;
}
.heading{
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.3em;
    color: orange;
    /* background-color: aqua; */
}

.main_text p{
    /* margin: 10px; */
    font-size: 1.1em;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #0006;
    margin-top: 50px;
}












