.opportunities{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* HEADER CONTENT */
.Oppotunitiiesheader{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.Oppotunitiiesheader img{
    position: relative;
    width: 100%;
}
.Oppotunitiiesheader span{
    position: absolute;
    color: #f9f9f9;
    font-weight: 800;
    box-shadow: 0px 5px 0px 0px; 
}
/* hEADER CONTENT */
