.intern{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    /* position: relative; */
}
.header_details{
    position: relative;
}

.interns_hearder_text{
    /* position: absolute;
    top: 200px;
    left: 28%; */
    margin-top: 150px;
    font-size: 80px;

    color: #0006;
    border-radius: 4px;
    border-bottom: 3px solid aliceblue;
    box-shadow: 0px 0px 10px;
    padding: 5px;
}
.intern_content{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.intern_bio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #0006;
}
.intern_pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.intern_img{
    flex: 1;
    width: 70%;
}
img{
    height: 400px;
    width: 300px;
    border: none;
    border-radius: 5px;
}
.bio{
    flex: 1;
    margin-left: 10px;
}
.bio .head{
    font-size: 2em;
    color: #0005;
    /* border-bottom: 2px solid aliceblue; */
    
}
.bio p{
    text-align: left;
    margin: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 1.3em;
}
.bio p span{
    font-weight: bold;
}
.one{
    background-color: rgba(129, 138, 138, 0.559);
    color: aliceblue;
}
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #0006;
    margin-top: 50px;
}





