.publications{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    margin-top: 80px;
}
/* HEADER CONTENT */
.header{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.header img{
    position: relative;
    width: 100%;
}
.header span{
    position: absolute;
    color: #f9f9f9;
    font-weight: 800;
}
/* hEADER CONTENT */
.publication-content{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}
.publication-content span{
    font-size: 20px;
    font-weight: 300;
    color: navy;
}
.publication-content ul li{
    margin: 10px 0px;
}


                    /* MEDIA PAGE */
 @media only screen and (min-width: 360px) and (max-width: 750px){
    .publications{
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        margin-top: 5px;
    }
    /* HEADER CONTENT */
.header{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.header img{
    position: relative;
    width: 100%;
}
.header span{
    position: absolute;
    color: #f9f9f9;
    font-weight: 600;
}
/* hEADER CONTENT */
    .publication-content{
        height: 100%;
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        text-align: left;
    }
    .publication-content span{
        font-size: 1.5em;
        font-weight: 300;
        color: navy;
    }
    .publication-content ul li{
        margin: 10px 0px;
    }
    
 }














